:root{
    --main--heading:rgb(126, 0, 243);
    --sub--heading:red;
    --text--color:yellow;
    --paragraph--color:rgba(9, 249, 9, 0.97);
}
.pink{   
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color:var(--main--heading);
}
.blue{
    width: 110px;
    height: 30px;
     border-radius: 5px;
  background-color:var(--sub--heading);
}
h1{
    color:var(--main--heading)
}
h3{
    color: var(--sub--heading);
}
p{
 color: var(--paragraph--color);
}
th{
    color: var(--main--heading);
}